<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/com_logo.PNG">
    <title>Document</title>
    <style>
        body{
            background-color:rgb(197, 197, 197);
            padding: 0;
            margin: 0;
        }
        ul {
			list-style-type: none;
			overflow: hidden;
		}
        .navi li { 
            float: left; 
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
        }.navi2 li { 
            float: left; 
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
        .main_container {
            width:100%;
            height:100%;
        }.nav-item {
            padding: 15px;
            cursor: pointer; /*마우스 커서를 pointer 모양으로 함*/
        }
        .nav-item a { /*nav-item 클래스 아래의 a 요소를 선택함*/
            font-size: 23px;
            text-align: center;
            text-decoration: none; /*밑줄 없앰*/
            color: white;
        }
        .nav-item:nth-child(3) {
            background-color: lightseagreen;
	        border-radius: 10px / 10px;
        }

        .nav-item:hover {
            background-color: grey;
	        border-radius: 10px / 10px;
        }.nav-item2 {
            padding: 15px;
            cursor: pointer; /*마우스 커서를 pointer 모양으로 함*/
        }
        .nav-item2 a { /*nav-item 클래스 아래의 a 요소를 선택함*/
            text-align: center;
            text-decoration: none; /*밑줄 없앰*/
            color: black;
            font-size: 23px;
        }
        .nav-item2:nth-child(1) {
            background-color: rgb(197, 197, 197);
	        border-radius: 10px / 10px;
        }

        .nav-item2:hover {
            background-color: grey;
	        border-radius: 10px / 10px;
        }.navi {
            overflow-y: scroll;
            list-style-type: none; /*목록 기호 제거*/
            width:100%;
            height:55px;
            margin: 0; /*쓸 데 없는 공백 제거*/
            padding: 0; /*쓸 데 없는 공백 제거*/
            background-color: darkslategrey;
            float:left;
            border-bottom-width:thin;
            border-bottom-color:rgba(25,80,100,0);
            border-bottom:solid;
        }
        .navi2 {
            list-style-type: none; /*목록 기호 제거*/
            width:100%;
            height:55px;
            margin: 0; /*쓸 데 없는 공백 제거*/
            padding: 0; /*쓸 데 없는 공백 제거*/
            background-color: lightseagreen;
            float:left;
            border-bottom-width:thin;
            border-bottom-color:rgba(25,80,100,0);
            border-bottom:solid;
        }
        .codata {
            width:100%;
            background-color:rgb(197, 197, 197);
            float:right;
            border-bottom-width:thin;
            border-bottom-color:rgba(129, 129, 129, 0);
            border-bottom:solid;
        }
        .list {
            width:100%;
            height:600px;
            background-color:rgba(197, 197, 197, 0.849);
            float:left;
            border-right-width: thick;
            border-right-color: black;
            border-bottom-width:thin;
            border-bottom-color:rgba(25,80,100,0);
            border-bottom:solid;
        }
        select{
            text-align-last: center;
        }.maintable tr{
            border : 1pt solid #444444;
        }
        .maintable td{
            border : 1pt solid #444444;
            text-align: center;
        }
        .maintable table{
            margin:auto;
        }
        .maintable li{
            text-align: center;
            list-style-type: none; /*목록 기호 제거*/
        }
        .rmbtn{
            position:absolute;
            margin-right: 10px;
            font-size: 22px;
            right: 45px;
            margin-bottom: 10px;
        }
        .infosavebtn{
            float: right;
            margin-right: 120px;
            font-size: 22px;
            margin-bottom: 10px;
        }
        #mykeyword{
            margin-left: 10px;
            margin-top: 10px;
            font-size: 15px;
        }
        #sort_btn{
            padding: 0;
            font-size: 15px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
    
        // var filtered_elements = {{ jlist_test|safe}};
        // alert(filtered_elements[0]);
        // var len_arr = filtered_elements.length;
        // alert(len_arr);
        // for(i=0;i<len_arr;i++){
        //     if(filtered_elements[i]=='창고3'){
        //         alert('동일');
        //     }
        //     else{
        //         alert('다름');
        //     }
        // };


        // 탐색창
        $(document).ready(function() {
            $("#mykeyword").keyup(function() {
                var value = $(this).val().toLowerCase();
                $("#myTable_tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
                // $("#myTable > tbody > tr").hide();
                // var temp = $("#myTable > tbody > tr > td:nth-child(5n+4):contains('" + value + "')");
                // $(temp).parent().show();
            });
        });

        // 데이터 올리기 (수정필요)
        function data_show(idx){

            $("#p_name_list").hide();
            $("#ps_position_1").hide();
            $("#ps_position_2").hide();

            $("#p_name_i").show();
            $("#ps_position_i").show();

            document.getElementById('p_ind_i').value = $('a#p_im_day_t.'+idx).text();
            document.getElementById('ps_position_i').value = $('a#p_loc_t.'+idx).text();
            var a = $('a#p_type_t.'+idx).text();
            var b = $('a#p_name_t.'+idx).text();
            var c = $('a#p_spec_t.'+idx).text();
            document.getElementById('p_name_i').value = a+'||'+b+'||'+c
            // document.getElementById('now_quntity').text($('a#p_qun_t.'+idx).text());
            var now_qun_now = "\u00A0\u00A0\u00A0\u00A0\u00A0"+$('a#p_qun_t.'+idx).text();
            $("label[for='now_quntity'").text(now_qun_now);
            document.getElementById('construction_site').value = $('a#p_con_loc_t.'+idx).text();
            document.getElementById('p_memo_i').value = $('a#p_memo_t.'+idx).text();
            document.getElementById('day_idx_input').value = $('a#day_idx_t.'+idx).text();
            // $('.infosavebtn').text('수정');
            // day_idx_t - day_idx_input
            
            
            // 버튼 onclick 다시부여
            // $(".infosavebtn").removeAttr("onclick");
            // $(".infosavebtn").attr("onclick","replace_d("+num+");");
            // $('.infosavebtn').text('수정');
            
            // $(".rmbtn").removeAttr("onclick");
            // $(".rmbtn").attr("onclick","reload_con_page();");
            // $('.rmbtn').text('추가');
        };
        
        // 데이터 추가
        function add_item_box(){
            
            var p_ind = document.getElementById('p_ind_i').value;
            var p_type = document.getElementById('p_type_i').value;
            var ps_position = document.getElementById('ps_position_i').value;
            var p_name = document.getElementById('p_name_i').value;
            var import_num = document.getElementById('import_num').value;
            var construction_site = document.getElementById('construction_site').value;
            var p_memo = document.getElementById('p_memo_i').value;
            var rev_date_input = document.getElementById('rev_date_input').value;
            var day_idx_ex = document.getElementById('day_idx_input').value

            // p_ind_i -> 입고일
            // p_type_i -> 입고분류
            // ps_position_i -> 위치
            // p_name_i -> 제품명
            // import_num -> 수량
            // construction_site -> 현장명
            // p_memo_i -> 비고

            //중복처리필요

            if(p_name.length==0){
                alert('등록할 자재명을 입력하세요.');
            }
            // else if(import_num.length==0){
            //     alert('수량을 입력하세요.');
            // }
            // else if(ps_position.length==0){
            //     alert('위치를 입력하세요.');
            // }
            else{
                // alert('ready');
                $.ajax({
                    url: '/add_import/',
                    method : 'POST',
                    data: {
                        p_ind:p_ind,
                        p_type:p_type,
                        ps_position:ps_position,
                        p_name:p_name,
                        import_num:import_num,
                        construction_site:construction_site,
                        p_memo:p_memo,
                        rev_date_input:rev_date_input,
                        day_idx_ex:day_idx_ex
                    },
                    beforeSend: function() {
                    // things to do before submit
                    },
                    success: function(response) {
                        alert('추가완료');
                        location.reload();
                    }
                });
            }
            // alert(ps_position);
        }

        // 취소버튼
        function clear_btn(){
            var date_pn =  new Date().toISOString().slice(0, 10);
            location.reload();
        }

    // ###########################################################
        // 테이블 정렬
        // 출처 : http://tonks.tistory.com/79 
        /* sortingNumber() : 숫자인 실수만으로 되어있을 때, 적용될 함수 */ 
        
        function sortingNumber( a , b ){  
        
        if ( typeof a == "number" && typeof b == "number" ) return a - b; 

        // 천단위 쉼표와 공백문자만 삭제하기.  
        var a = ( a + "" ).replace( /[,\s\xA0]+/g , "" ); 
        var b = ( b + "" ).replace( /[,\s\xA0]+/g , "" ); 

        var numA = parseFloat( a ) + ""; 
        var numB = parseFloat( b ) + ""; 

        if ( numA == "NaN" || numB == "NaN" || a != numA || b != numB ) return false; 

        return parseFloat( a ) - parseFloat( b ); 
        } 

        /* changeForSorting() : 문자열 바꾸기. */ 

        function changeForSorting( first , second ){  

                // 문자열의 복사본 만들기. 
                var a = first.toString().replace( /[\s\xA0]+/g , " " ); 
                var b = second.toString().replace( /[\s\xA0]+/g , " " ); 

                var change = { first : a, second : b }; 

                if ( a.search( /\d/ ) < 0 || b.search( /\d/ ) < 0 || a.length == 0 || b.length == 0 ) return change; 

                var regExp = /(\d),(\d)/g; // 천단위 쉼표를 찾기 위한 정규식. 

                a = a.replace( regExp , "$1" + "$2" ); 
                b = b.replace( regExp , "$1" + "$2" ); 

                var unit = 0; 
                var aNb = a + " " + b; 
                var numbers = aNb.match( /\d+/g ); // 문자열에 들어있는 숫자 찾기 

                for ( var x = 0; x < numbers.length; x++ ){ 

                        var length = numbers[ x ].length; 
                        if ( unit < length ) unit = length; 
                } 

                var addZero = function( string ){ // 숫자들의 단위 맞추기 

                        var match = string.match( /^0+/ ); 

                        if ( string.length == unit ) return ( match == null ) ? string : match + string; 

                        var zero = "0"; 

                        for ( var x = string.length; x < unit; x++ ) string = zero + string; 

                        return ( match == null ) ? string : match + string; 
                }; 

                change.first = a.replace( /\d+/g, addZero ); 
                change.second = b.replace( /\d+/g, addZero ); 

                return change; 
        } 

        /* byLocale() */ 

        function byLocale(){ 

                var compare = function( a , b ){ 

                        var sorting = sortingNumber( a , b ); 

                        if ( typeof sorting == "number" ) return sorting; 

                        var change = changeForSorting( a , b ); 

                        var a = change.first; 
                        var b = change.second; 

                        return a.localeCompare( b ); 
                }; 

                var ascendingOrder = function( a , b ){  return compare( a , b );  }; 
                var descendingOrder = function( a , b ){  return compare( b , a );  }; 

                return { ascending : ascendingOrder, descending : descendingOrder }; 
        } 

        /* replacement() */ 
        
        function replacement( parent ){  
                var tagName = parent.tagName.toLowerCase(); 
                if ( tagName == "table" ) parent = parent.tBodies[ 0 ]; 
                tagName = parent.tagName.toLowerCase(); 
                if ( tagName == "tbody" ) var children = parent.rows; 
                else var children = parent.getElementsByTagName( "li" ); 

                var replace = { 
                        order : byLocale(), 
                        index : false, 
                        array : function(){ 
                                var array = [ ]; 
                                for ( var x = 0; x < children.length; x++ ) array[ x ] = children[ x ]; 
                                return array; 
                        }(), 
                        checkIndex : function( index ){ 
                                if ( index ) this.index = parseInt( index, 10 ); 
                                var tagName = parent.tagName.toLowerCase(); 
                                if ( tagName == "tbody" && ! index ) this.index = 0; 
                        }, 
                        getText : function( child ){ 
                                if ( this.index ) child = child.cells[ this.index ]; 
                                return getTextByClone( child ); 
                        }, 
                        setChildren : function(){ 
                                var array = this.array; 
                                while ( parent.hasChildNodes() ) parent.removeChild( parent.firstChild ); 
                                for ( var x = 0; x < array.length; x++ ) parent.appendChild( array[ x ] ); 
                        }, 
                        ascending : function( index ){ // 오름차순 
                                this.checkIndex( index ); 
                                var _self = this; 
                                var order = this.order; 
                                var ascending = function( a, b ){ 
                                        var a = _self.getText( a ); 
                                        var b = _self.getText( b ); 
                                        return order.ascending( a, b ); 
                                }; 
                                this.array.sort( ascending ); 
                                this.setChildren(); 
                        }, 
                        descending : function( index ){ // 내림차순
                                this.checkIndex( index ); 
                                var _self = this; 
                                var order = this.order; 
                                var descending = function( a, b ){ 
                                        var a = _self.getText( a ); 
                                        var b = _self.getText( b ); 
                                        return order.descending( a, b ); 
                                }; 
                                this.array.sort( descending ); 
                                this.setChildren(); 
                        } 
                }; 
                return replace; 
        } 

        function getTextByClone( tag ){  
                var clone = tag.cloneNode( true ); // 태그의 복사본 만들기. 
                var br = clone.getElementsByTagName( "br" ); 
                while ( br[0] ){ 
                        var blank = document.createTextNode( " " ); 
                        clone.insertBefore( blank , br[0] ); 
                        clone.removeChild( br[0] ); 
                } 
                var isBlock = function( tag ){ 
                        var display = ""; 
                        if ( window.getComputedStyle ) display = window.getComputedStyle ( tag, "" )[ "display" ]; 
                        else display = tag.currentStyle[ "display" ]; 
                        return ( display == "block" ) ? true : false; 
                }; 
                var children = clone.getElementsByTagName( "*" ); 
                for ( var x = 0; x < children.length; x++){ 
                        var child = children[ x ]; 
                        if ( ! ("value" in child) && isBlock(child) ) child.innerHTML = child.innerHTML + " "; 
                } 
                var textContent = ( "textContent" in clone ) ? clone.textContent : clone.innerText; 
                return textContent; 
        } 
    </script>
</head>
<body>
    <input id = "len_idx_v" style="display: none;" value={{ len_idx }}>

    <div class='main_container'>
        <div class='navi'>
            <ul class="nav-container">
                <li class="nav-item"> <a href="/m_p_stock_location">재고 현황</a> </li>
                <li class="nav-item"> <a href="/m_p_list">자재 목록</a> </li>
                <li class="nav-item"><a href="/m_import2">입고 / 출고</a> </li>
                <li class="nav-item" style="float: right;"><a href="/logout">로그아웃</a></li>
                <li class="u_id" style="float: right;">{{l_id}}({{l_name}})</li>
                <style>.u_id {padding: 15px;}</style>
            </ul>
        </div>
        <div class='navi2'>
            <ul class="nav-container2">
                <li class="nav-item2"> <a href="/m_import2">입 고</a> </li>
                <li class="nav-item2"> <a href="/m_export2">출 고</a> </li>
                <!-- <li class="nav-item2"> <a href="/m_return">반 환</a> </li> -->
                <!-- <li class="nav-item2"> <a href="#">이 력</a> </li> -->
            </ul>
        </div>
        <div class='codata'  style="overflow: auto;">
            {% csrf_token %}
            <p style="font-size: 21px; font-weight: 900;margin-top: 0;margin-bottom: 0;">&nbsp&nbsp&nbsp입고 정보</p>
            <hr style="margin-bottom: 0;margin-top:0;">
                <p></p>
                <table class="input_table" style="padding-left: 30px; padding-top: 10px; font-size: 18px;">
                    <tbody>
                        <tr>
                            <td>
                                &nbsp&nbsp입&nbsp&nbsp&nbsp고&nbsp&nbsp&nbsp일 : <input type="date" id = "p_ind_i" style="font-size: 18px;text-align-last: center;">
                            </td>
                            <td>
                                &nbsp&nbsp작&nbsp&nbsp&nbsp성&nbsp&nbsp&nbsp자 : <input type="text" id = "rev_pm_i" style="font-size: 18px;text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;&nbsp;입&nbsp;고&nbsp;분&nbsp;류 : 
                                <select id="p_type" style="font-size: 18px; text-align-last: center; width: 150px;">
                                    <option value="" id="select_type_dis">--선택--</option>
                                    <option value="import">자재</option>
                                    <option value="whole">완제품</option>
                                    <option value="bad">불량</option>
                                    <option value="as">A/S</option>
                                    <option value="type_direct" id=''>직접입력</option>
                                </select>
                                    <input type="text" id = "p_type_i" style="display: none; font-size: 18px;">
                            </td>
                            <td>
                                &nbsp&nbsp위&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp치 : 
                                <select id="ps_position_1" style="font-size: 18px; text-align-last: center; width: 150px;">
                                    <option value="" id="select_dis_1">--선택--</option>
                                    <option value="창고1">1층</option>
                                    <option value="창고2">2층</option>
                                    <option value="창고3">3층</option>
                                    <option value="창고4">4층</option>
                                    <option value="wh_direct">직접입력</option>
                                </select>
                                
                                <select id="ps_position_2" style="font-size: 18px; text-align-last: center; width: 150px;">
                                    <option value="" id="select_dis_2">--선택--</option>
                                    <option value="r_1">생산 창고</option>
                                    <option value="r_2">완제품 창고</option>
                                    <option value="r_3">창고</option>
                                    <option value="r_4">a/s 창고</option>
                                </select>
                                <input type="text" id = "ps_position_i" style="display: none; font-size: 18px;">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                &nbsp&nbsp제&nbsp&nbsp&nbsp품&nbsp&nbsp&nbsp명 : 
                                <select id="p_name_list" style="font-size: 18px; text-align-last: center;">
                                    <option value="" id="p_name_dis">--선택--</option>
                                    <option value="p_1">분류1||품명1||규격1</option>
                                    <option value="p_2">분류2||품명2||규격2</option>
                                    <option value="p_3">분류3||품명3||규격3</option>
                                    <option value="p_4">분류4||품명4||규격4</option>
                                    <option value="p_direct">직접입력</option>
                                </select>
                                <input type="text" id = "p_name_i" style="font-size: 18px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;&nbsp;현&nbsp;&nbsp;&nbsp;수&nbsp;&nbsp;&nbsp;량 : <label for ='now_quntity' id = 'now_quntity' style="font-size: 18px;text-align-last: center;"></label>
                            </td>
                            <td>
                                &nbsp;&nbsp;입&nbsp;고&nbsp;수&nbsp;량 : <input type="text" id = "import_num" style="font-size: 18px;text-align-last: center;"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;&nbsp;현&nbsp;&nbsp;&nbsp;장&nbsp;&nbsp;&nbsp;명 : <input type="text" id = "construction_site" style="font-size: 18px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;&nbsp;비&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;고 : 
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <textarea name="" id="p_memo_i" cols="100" rows="5" style="margin-bottom: 0;"></textarea>
                            </td>
                        </tr>
                    </tbody>
                    <input type="text" id="log_name" style="display: none;" value={{l_name}}>
                    <input type="text" id="rev_date_input" style="display: none;">
                    <input type="text" id="day_idx_input" style="display: none;">
                </table>

                <!-- Select 변경 script -->
                <script>
                    document.getElementById('rev_pm_i').value = document.getElementById('log_name').value;
                    
                    var date_pn =  new Date().toISOString().slice(0, 10).replace(/-/gi,'');
                    date_pn = 'HS_'+date_pn;

                    document.getElementById('rev_date_input').value = new Date().toISOString().slice(0, 10);

                    $("#ps_position_2").hide();

                    var rack_1 = ['생산실','생산창고','AS창고','완제품창고'];
                    var rack_2 = ['창고','자재창고'];
                    var rack_3 = ['품질팀'];
                    var rack_4 = ['자재창고'];

                    $(function(){
                        $("#p_name_i").hide();
                        
                        // 제품명변경시
                        $("#p_name_list").change(function() {
                            
                            var el_pn = document.getElementById('p_name_dis');
                            el_pn.setAttribute('disabled','disabled');

                            if($("#p_name_list").val() == "p_direct") {
                                document.getElementById('p_name_i').value = '';
                                $("#p_name_i").show();
                            }  else {
                                
                                var p_name_list = document.getElementById("p_name_list");
                                var selectText = p_name_list.options[p_name_list.selectedIndex].text;
                                var selectValue = p_name_list.options[p_name_list.selectedIndex].value;

                                document.getElementById('p_name_i').value = selectText;
                                $("#p_name_i").hide();
                            }
                        })

                        // 위치_1 변경시
                        $("#ps_position_1").change(function() {

                            var el = document.getElementById('select_dis_1');
                            el.setAttribute('disabled','disabled');

                            if($("#ps_position_1").val() == "wh_direct") {
                                document.getElementById('ps_position_i').value = null;
                                $("#ps_position_2").hide();
                                $("#ps_position_i").show();
                            }
                            else if($("#ps_position_1").val() == "창고1"){

                                
                                var changeItem = rack_1;
                                $('#ps_position_2').empty();
                                $('#ps_position_2').append($("<option value='' id = 'select_dis_2'>--선택--</option>"));
                                for(var count = 0; count < changeItem.length; count++){                
                                    var option = $("<option value='R"+changeItem[count]+"'>"+changeItem[count]+"</option>");
                                    $('#ps_position_2').append(option);
                                }
                                
                                $("#ps_position_2").show();
                                var ps_position_1 = document.getElementById("ps_position_1");
                                var selectText_1 = ps_position_1.options[ps_position_1.selectedIndex].text;
                                var selectValue_1 = ps_position_1.options[ps_position_1.selectedIndex].value;

                                var ps_position_2 = document.getElementById("ps_position_2");
                                var selectText_2 = ps_position_2.options[ps_position_2.selectedIndex].text;
                                var selectValue_2 = ps_position_2.options[ps_position_2.selectedIndex].value;

                                document.getElementById('ps_position_i').value = selectValue_1+selectValue_2;
                                $("#ps_position_i").hide();


                            }
                            else if($("#ps_position_1").val() == "창고2"){

                                
                                var changeItem = rack_2;
                                $('#ps_position_2').empty();
                                $('#ps_position_2').append($("<option value='' id = 'select_dis_2'>--선택--</option>"));
                                for(var count = 0; count < changeItem.length; count++){                
                                    var option = $("<option value='r_"+changeItem[count]+"'>"+changeItem[count]+"</option>");
                                    $('#ps_position_2').append(option);
                                }
                                
                                $("#ps_position_2").show();
                                var ps_position_1 = document.getElementById("ps_position_1");
                                var selectText_1 = ps_position_1.options[ps_position_1.selectedIndex].text;
                                var selectValue_1 = ps_position_1.options[ps_position_1.selectedIndex].value;

                                var ps_position_2 = document.getElementById("ps_position_2");
                                var selectText_2 = ps_position_2.options[ps_position_2.selectedIndex].text;
                                var selectValue_2 = ps_position_2.options[ps_position_2.selectedIndex].value;

                                document.getElementById('ps_position_i').value = selectText_1+selectText_2;
                                
                                $("#ps_position_i").hide();


                            }
                            else if($("#ps_position_1").val() == "창고3"){

                                
                                var changeItem = rack_3;
                                $('#ps_position_2').empty();
                                $('#ps_position_2').append($("<option value='' id = 'select_dis_2'>--선택--</option>"));
                                for(var count = 0; count < changeItem.length; count++){                
                                    var option = $("<option value='r_"+changeItem[count]+"'>"+changeItem[count]+"</option>");
                                    $('#ps_position_2').append(option);
                                }
                                
                                $("#ps_position_2").show();
                                var ps_position_1 = document.getElementById("ps_position_1");
                                var selectText_1 = ps_position_1.options[ps_position_1.selectedIndex].text;
                                var selectValue_1 = ps_position_1.options[ps_position_1.selectedIndex].value;

                                var ps_position_2 = document.getElementById("ps_position_2");
                                var selectText_2 = ps_position_2.options[ps_position_2.selectedIndex].text;
                                var selectValue_2 = ps_position_2.options[ps_position_2.selectedIndex].value;

                                document.getElementById('ps_position_i').value = selectText_1+selectText_2;
                                
                                $("#ps_position_i").hide();


                            }
                            else if($("#ps_position_1").val() == "창고4"){ 

                                
                                var changeItem = rack_4;
                                $('#ps_position_2').empty();
                                $('#ps_position_2').append($("<option value='' id = 'select_dis_2'>--선택--</option>"));
                                for(var count = 0; count < changeItem.length; count++){                
                                    var option = $("<option value='r_"+changeItem[count]+"'>"+changeItem[count]+"</option>");
                                    $('#ps_position_2').append(option);
                                }
                                
                                $("#ps_position_2").show();
                                var ps_position_1 = document.getElementById("ps_position_1");
                                var selectText_1 = ps_position_1.options[ps_position_1.selectedIndex].text;
                                var selectValue_1 = ps_position_1.options[ps_position_1.selectedIndex].value;

                                var ps_position_2 = document.getElementById("ps_position_2");
                                var selectText_2 = ps_position_2.options[ps_position_2.selectedIndex].text;
                                var selectValue_2 = ps_position_2.options[ps_position_2.selectedIndex].value;

                                document.getElementById('ps_position_i').value = selectText_1+selectText_2;
                                
                                $("#ps_position_i").hide();


                            }
                            else {
                                
                                var ps_position_1 = document.getElementById("ps_position_1");
                                var selectText_1 = ps_position_1.options[ps_position_1.selectedIndex].text;
                                var selectValue_1 = ps_position_1.options[ps_position_1.selectedIndex].value;

                                var ps_position_2 = document.getElementById("ps_position_2");
                                var selectText_2 = ps_position_2.options[ps_position_2.selectedIndex].text;
                                var selectValue_2 = ps_position_2.options[ps_position_2.selectedIndex].value;

                                document.getElementById('ps_position_i').value = selectText_1+selectText_2;
                                $("#ps_position_2").show();
                                $("#ps_position_i").hide();
                            }
                        
                        })
                        // 위치_2 변경시
                        $("#ps_position_2").change(function() {
                            
                            var el = document.getElementById('select_dis_2');
                            el.setAttribute('disabled','disabled');

                            var ps_position_1 = document.getElementById("ps_position_1");
                                var selectText_1 = ps_position_1.options[ps_position_1.selectedIndex].text;
                                var selectValue_1 = ps_position_1.options[ps_position_1.selectedIndex].value;

                                var ps_position_2 = document.getElementById("ps_position_2");
                                var selectText_2 = ps_position_2.options[ps_position_2.selectedIndex].text;
                                var selectValue_2 = ps_position_2.options[ps_position_2.selectedIndex].value;
                            
                            document.getElementById('ps_position_i').value = selectText_1+"_"+selectText_2;

                            var rack_in = document.getElementById('ps_position_i').value;
                            // alert(rack_in);
                        })

                        // 분류변경시
                        $("#p_type").change(function() {
                            var now_time = new Date().toISOString().slice(0, 10);
                            var el_pn = document.getElementById('select_type_dis');
                            el_pn.setAttribute('disabled','disabled');

                            if($("#p_type").val() == "type_direct") {
                                document.getElementById('p_type_i').value = ''
                                $("#p_type_i").show();
                            }  else {
                                
                                var p_type = document.getElementById("p_type");
                                var selectText = p_type.options[p_type.selectedIndex].text;
                                var selectValue = p_type.options[p_type.selectedIndex].value;

                                var memo_text = document.getElementById('p_memo_i').value;
                                memo_text = memo_text +'\n'+now_time+'   '+ selectText+' 입고\n';
                                document.getElementById('p_memo_i').value = memo_text;
                                // alert(memo_text);
                                document.getElementById('p_type_i').value = selectText;
                                $("#p_type_i").hide();
                            }
                        })
                    });

                    document.getElementById('p_ind_i').value= new Date().toISOString().slice(0, 10);
                </script>
            {% csrf_token %}
                <p style="font-size: 18px;">
                    <!-- <button class="" onclick="remove_p_data();" style="float: right;margin-right: 10px; font-size: 18px;">삭제</button> -->
                    <button id = "clrbutton" style="float: right;margin-right: 10px; font-size: 18px;" onclick="clear_btn();">취소</button>
                    <button type="submit" class="infosavebtn" onclick="add_item_box();" style="float: right;margin-right: 10px; font-size: 18px;">입고</button>
                </p>
        </div>
        <div class='list' style="overflow:auto;">  <!-- scroll,auto,...... -->            
            <div class="search_div">
                <input type="text" id="mykeyword" placeholder="검색어를 입력하세요">
                
                <input type="checkbox" id ="col2" name="col2" checked="checked" /><label for="col2">입고일</label>
                <input type="checkbox" id ="col3" name="col3" checked="checked" /><label for="col3">위치</label>
                <input type="checkbox" id ="col4" name="col4" checked="checked" /><label for="col4">분류</label>
                <input type="checkbox" id ="col5" name="col5" checked="checked" /><label for="col5">세대</label>
                <input type="checkbox" id ="col6" name="col6" checked="checked" /><label for="col6">품명</label>
                <input type="checkbox" id ="col7" name="col7" checked="checked" /><label for="col7">규격</label>
                <input type="checkbox" id ="col8" name="col8" checked="checked" /><label for="col8">수량</label>
                <input type="checkbox" id ="col9" name="col9" checked="checked" /><label for="col9">현장명</label>
                <input type="checkbox" id ="col10" name="col10" checked="checked" /><label for="col10">비고</label>
                <input type="checkbox" id ="col11" name="col11" checked="checked" /><label for="col11">수정일</label>
            </div>        
            <hr style="padding: 0;margin-bottom: 0;">
            <section class = 'maintable'>
                <table id = 'list_table' style="height: 27px; font-size: 13px;">
                    <thead>
                        <tr>
                            <td class="col1" style="width: 70px;">No.<button id = 'sort_btn' onclick="sortTD ( 0 )">▲</button><button id = 'sort_btn' onclick="reverseTD ( 0 )">▼</button></td>
                            <td class="col2" style="width: 150px;">입고일<button id = 'sort_btn' onclick="sortTD ( 1 )">▲</button><button id = 'sort_btn' onclick="reverseTD ( 1 )">▼</button></td>
                            <td class="col3" style="width: 150px;">위치<button id = 'sort_btn' onclick="sortTD ( 2 )">▲</button><button id = 'sort_btn' onclick="reverseTD ( 2 )">▼</button></td>
                            <td class="col4" style="width: 150px;">분류<button id = 'sort_btn' onclick="sortTD ( 3 )">▲</button><button id = 'sort_btn' onclick="reverseTD ( 3 )">▼</button></td>
                            <td class="col5" style="width: 150px;">세대<button id = 'sort_btn' onclick="sortTD ( 4 )">▲</button><button id = 'sort_btn' onclick="reverseTD ( 4 )">▼</button></td>
                            <td class="col6" style="width: 150px;">품명<button id = 'sort_btn' onclick="sortTD ( 5 )">▲</button><button id = 'sort_btn' onclick="reverseTD ( 5 )">▼</button></td>
                            <td class="col7" style="width: 150px;">규격<button id = 'sort_btn' onclick="sortTD ( 6 )">▲</button><button id = 'sort_btn' onclick="reverseTD ( 6 )">▼</button></td>
                            <td class="col8" style="width: 150px;">수량<button id = 'sort_btn' onclick="sortTD ( 7 )">▲</button><button id = 'sort_btn' onclick="reverseTD ( 7 )">▼</button></td>
                            <td class="col9" style="width: 150px;">현장명<button id = 'sort_btn' onclick="sortTD ( 8 )">▲</button><button id = 'sort_btn' onclick="reverseTD ( 8 )">▼</button></td>
                            <td class="col10" style="width: 150px;">비고<button id = 'sort_btn' onclick="sortTD ( 9 )">▲</button><button id = 'sort_btn' onclick="reverseTD ( 9 )">▼</button></td>
                            <td class="col11" style="width: 150px;">수정일<button id = 'sort_btn' onclick="sortTD ( 10 )">▲</button><button id = 'sort_btn' onclick="reverseTD ( 10 )">▼</button></td>
                        </tr>
                    </thead>

                    <tbody id="myTable_tbody">

						{% csrf_token %}
                            
                        {% for i in index_list%}
                            {% with forloop.counter|cut:" " as index %}
                        <tr class = 'pdata'>
                            <p class = {{index}} id = "idx"style="display: none;">{{i}}</p>
                            <td><button id = {{index}} name = "number" type="button" style="font-size: 18px; width: 40px;height: 32px;" onclick="data_show(this.id)">{{index}}</button></td>
                            <td><a class = {{index}} id = "p_im_day_t" name = "info_item">{{ p_im_day_list|slice:index|last }}</a></td>
                            <td><a class = {{index}} id = "p_loc_t" name = "info_item">{{ p_loc_list|slice:index|last }}</a></td>
                            <td><a class = {{index}} id = "p_type_t" name = "info_item">{{ p_type_list|slice:index|last }}</a></td>
                            <td><a class = {{index}} id = "p_gen_t" name = "info_item">{{ p_gen_list|slice:index|last }}</a></td>
                            <td><a class = {{index}} id = "p_name_t" name = "info_item">{{ p_name_list|slice:index|last }}</a></td>
                            <td><a class = {{index}} id = "p_spec_t" name = "info_item">{{ p_spec_list|slice:index|last }}</a></td>
                            <td><a class = {{index}} id = "p_qun_t" name = "info_item">{{ p_qun_list|slice:index|last }}</a></td>
                            <td><a class = {{index}} id = "p_con_loc_t" name = "info_item">{{ p_con_loc_list|slice:index|last }}</a></td>
                            <td><a class = {{index}} id = "p_memo_t" name = "info_item">{{ p_memo_list|slice:index|last }}</a></td>
                            <td><a class = {{index}} id = "rev_date_t" name = "info_item">{{ rev_date_list|slice:index|last }}</a></td>
                        </tr>
                        <a class = {{index}} id = "day_idx_t" name = "info_item" style="display: none;">{{ day_idx_list|slice:index|last }}</a>

                            {% endwith %}
                        {% endfor %}

                    </tbody>
                </table>
            </section>
        </div>
    </div>

<script type="text/javascript">
    var myTable = document.getElementById( "list_table" ); 
    var replace = replacement( myTable ); 
    function sortTD( index ){    replace.ascending( index );    } 
    function reverseTD( index ){    replace.descending( index );    } 
</script>
<script>
    $(document).ready(function() {
        $('input[type="checkbox"]').click(function() {
            var index = $(this).attr('name').substr(3);
            index--;
            $('#myTable_tbody tr').each(function() { 
                $('td:eq(' + index + ')',this).toggle();
            });
            $('td.' + $(this).attr('name')).toggle();
        });
    });
</script>
</body>
</html>